.vs

# C++ build files
*.obj
*.o
*.exe
*.ilk
*.pdb
*.idb
*.log
*.aps
*.res
*.ipdb
*.iobj
*.tlog/
Debug/
Release/
x64/

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv
build/
dist/
*.egg-info/
*.egg
*.log
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
*.~
*.DS_Store
*.idea/
*.vscode/
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.cache/
*.cprofile
*.ipynb_checkpoints/
